body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orangered;
    background-color: rgb(205, 241, 255);
    font-family:'Courier New' 'monospace' 'sans-serif';
}
nav{
    height: 75vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:30px;
    background-color: orangered;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(250, 245, 186);
    animation-name: button;
}

nav a:hover{
    background-color: rgb(250, 245, 186);
    color: orange;
}

img{
    width:60vw;
    height: 50vh;
}

#red-ball{
    background-color: yellow;
    width: 40px;
    height:40px;
    border-radius: 50%;
    position: absolute;
    left:7vw;
    top:0;
    transition-duration: 3s;
}

#red-ball:hover{
    background-color: rgb(250, 245, 186);
    width: 1000px;
    height: 1000px;
}