<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ica6-part2.html"> 
    

body{
    background-color: olive;
}


#flex-parent{
    display:flex;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}


#grid-parent{
    display:grid;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{

}
#no1{

}
#no2{

}
#no3{

}
#no4{

}
#no5{

}
#no6{

}
#no7{

}
#no8{

}
#no9{

}
